
.root{
    -fx-font-family: Segoe UI;
    -fx-padding: 20;
}

.button{
    -fx-background-color: #0078D7;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-padding: 8 15;
}

.list-view{
    -fx-background-color: #f2f2f2;
    -fx-padding: 10;
}

.label-title{
    -fx-font-size: 22;
    -fx-font-weight: bold;
    -fx-text-fill: #0078D7;
}

.label-footer{
    -fx-font-size: 16;
    -fx-font-weight: bold;
    -fx-text-fill: #0078D7;
}
